Repository vlad-ko/laravel-stripe-app-gh: changes, and which Codecov flags are due for each by the changed paths.
All: controller, service

adding thresholds everywhere'
  codecov.yml
Due: none

adding silly things like a demo service
  app/Services/DemoService.php
  codecov.yml
Due: service

adding functions
  app/Services/DemoService.php
Due: service

lowering threshold for service
  codecov.yml
Due: none

adding specific threshold
  codecov.yml
Due: none

removing patch config
  codecov.yml
Due: none

adding annotations
  codecov.yml
Due: none

adding more tests
  .gitignore
  supervisord.pid
Due: none

adding new tests
  tests/Services/DemoServiceTest.php
Due: none

adding root user
  codecov.yml
  docker-compose.yml
Due: none

removing nullable
  codecov.yml
  database/migrations/2017_04_05_230135_create_charges_table.php
Due: none

adding a test
  app/Services/DemoService.php
  tests/Services/DemoServiceTest.php
Due: service

modding a production file
  app/Services/ChargeParser.php
Due: service

adding true
  codecov.yml
Due: none

adding worfklow for main
  .github/workflows/main.yaml
Due: none

comment our PR detailsz
  .github/workflows/laravel.yml
Due: none

adding pr changes for ci
  .github/workflows/laravel.yml
Due: none

trying to set cff = true
  .github/workflows/pr-only.yaml
  codecov.yml
Due: none

deleting old workflow file
  .github/workflows/laravel.yml
Due: none

adding pr changes
  .gitignore
Due: none

resolve conflicts
  .github/workflows/pr-only.yaml
Due: none

moding codecov settings
  .github/workflows/main.yaml
  .github/workflows/pr-only.yaml
  codecov.yml
Due: none

adding minor change
  codecov.yml
Due: none

adding new function to controller
  .github/workflows/pr-only.yaml
  app/Http/Controllers/ReportsController.php
Due: controller

adding service function
  app/Services/DemoService.php
Due: service

adding cff show true
  codecov.yml
Due: none

fixing yaml
  codecov.yml
Due: none

adding service and running
  app/Services/DemoService.php
Due: service

adding stuff back in
  codecov.yml
Due: none

adding a test
  tests/Services/DemoServiceTest.php
Due: none

adding CI setting
  codecov.yml
Due: none

adding more tsts
  tests/Services/DemoServiceTest.php
Due: none

adding a function
  app/Services/DemoService.php
Due: service

adding some stuff
  app/Services/DemoService.php
  codecov.yml
  tests/Services/DemoServiceTest.php
Due: service

modding yaml
  codecov.yml
Due: none

changing yaml and adding service
  app/Services/DemoService.php
  codecov.yml
Due: service

removing broken test
  tests/Services/DemoServiceTest.php
Due: none

modding a yaml
  codecov.yml
Due: none

Path conditions:
  controller: any of: app/Http/Controllers
  service: any of: app/Services
