Repository vlad-ko/laravel-stripe-app-gh: changes, and which Codecov flags are due for each by the changed paths.
All: controller, service

adding glob to controllers
  codecov.yml
Due: none

adding a new file
  app/Http/Controllers/DemoController.php
Due: controller

adding more controller stuff
  app/Http/Controllers/DemoController.php
  routes/web.php
  tests/Controllers/DemoControllerTest.php
Due: controller

adding uncovered function
  app/Http/Controllers/DemoController.php
Due: controller

adding service function, moddding config
  app/Services/DemoService.php
  codecov.yml
Due: service

adding new function
  app/Services/DemoService.php
Due: service

trying annotations
  .github/workflows/pr-only.yaml
  codecov.yml
Due: none

modding yaml
  codecov.yml
Due: none

making changes and updating uploader
  .github/workflows/pr-only.yaml
  codecov.yml
Due: none

adding verification
  .github/workflows/pr-only.yaml
Due: none

fixing typo
  .github/workflows/pr-only.yaml
Due: none

adding verify steps and commments
  .github/workflows/pr-only.yaml
Due: none

fixing main yaml
  .github/workflows/main.yaml
Due: none

fixing up workflows
  .github/workflows/main.yaml
  .github/workflows/pr-only.yaml
Due: none

adding a function
  app/Services/DemoService.php
Due: service

renaming files
  app/Services/MagicService.php
  codecov.yml
  tests/Services/DemoServiceTest.php
  tests/Services/MagicServiceTest.php
Due: service

adding more tests
  app/Services/MagicService.php
  tests/Services/MagicServiceTest.php
Due: service

adding more tests
  tests/Services/MagicServiceTest.php
Due: none

fixing a typo
  .github/workflows/pr-only.yaml
Due: none

adding another test
  tests/Services/MagicServiceTest.php
Due: none

adding new tests
  tests/Services/MagicServiceTest.php
Due: none

adding more test coverage
  tests/Services/MagicServiceTest.php
Due: none

adding jest
  .babelrc
  .github/workflows/pr-only.yaml
  codecov.yml
  package-lock.json
  package.json
  resources/js/classes/person.js
  resources/js/classes/person.test.js
  resources/js/components/AppComponent.test.js
  resources/js/components/AppComponent.vue
Due: none

adding configs
  .gitignore
  package.json
Due: none

adding js tests
  .github/workflows/pr-only.yaml
Due: none

adding modules
  .github/workflows/pr-only.yaml
Due: none

adding i
  .github/workflows/pr-only.yaml
Due: none

adding coverage upload
  .github/workflows/pr-only.yaml
Due: none

modding config
  .github/workflows/pr-only.yaml
  codecov.yml
Due: none

adding tests, fixing typos
  .github/workflows/pr-only.yaml
  resources/js/classes/person.test.js
Due: none

adding config changes
  codecov.yml
Due: none

adding function call
  tests/Unit/ChargeTest.php
Due: none

changing master workflow
  .github/workflows/main.yaml
Due: none

adding main workflow
  .github/workflows/main.yaml
Due: none

revert main workflow
  .github/workflows/main.yaml
Due: none

adding JS test
  resources/js/classes/person.js
  resources/js/classes/person.test.js
Due: none

adding tests
  app/Services/ChargeParser.php
  tests/Services/ChargeParserTest.php
Due: service

adding backend
  .github/workflows/main.yaml
  .github/workflows/pr-only.yaml
Due: none

adding yaml config for backend flag
  codecov.yml
Due: none

Path conditions:
  controller: any of: app/Http/Controllers
  service: any of: app/Services
